/* ---------- Layout ---------- */

@media (max-width: 767px) {
	body {
		padding-top:100px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	body {
		padding-top:75px;
	}
}
@media (min-width: 992px) {
	body {
	  padding-top: 50px;
	}
}

label {
    font-weight:normal;
}

.page {
  padding: 40px 15px;
}
.pagecontent {
}

/* ----------- Modules ----------- */
.navbar-right.pull-right li {
	display:inline-block;
}
.pagetext {
    height:0;
}
.pagecontrol {
margin-right:6px;
vertical-align:top;
}
.title {
    text-align:center;
}
.title h2 {
	padding: 2px;
}

span.alert {
	padding:5px;
	margin:0 10px;
}

.labelgroup, .pagecontrols {
    font-size:24px;
}
.icontext {
	margin-left:3px;
}
.editable-block {
	padding:10px;
}
.editable-inline {
	padding:3px;
}
.choices a {
color:#4582ec;
}
.popover {
	margin-bottom:50px;
}
.popover a:hover{/*, .pager-newchoice:hover */
	color: #134fb8 !important;
}
.popover legend {
    font-size: 16px;
}

.pager>li>a {
	margin-bottom:5px;
}
.pager-reqmet {
    /*Took style out of here because in most cases we want this to look normal.*/
}
.pager-reqmet-secret {
    border-style: dashed !important;
	border-color: #4582ec !important;
}
.pager-newchoice {
	margin-left:5px;
}
.popover-choice {
	width:300px;
    max-width:300px;
}

.pager li > a.is-editable:hover, .pager li > a.is-editable:focus {
    background-color: inherit !important;
}
.pager a.is-editable:hover {
    border-color: #dddddd !important;
    color: inherit !important;
}
.deletelink {
	
}
.deletelink :hover{
	
}
#chkEdit{
	margin-left:20px;
}
.mapelement {
	padding: 5px 0;
}
.mapelement:hover {
background-color: #f5f5f5;
}
.mapelement-pagetext {
	overflow: hidden; 
	/*overflow-x: scroll;*/
	padding: 0 5px;
}
.mapelement-pagetext p {
	white-space: nowrap;
	color:#666;
}

.mapelement-pagetext-overlay {
	position: absolute;
	right: -2px;
    top: 0;
    width: 20%;
    height: 100%;
	/* get this to work: http://www.colorzilla.com/gradient-editor/ */
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%) !important;  /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ) !important; /* IE6-9 */
}

.mapelement:hover .mapelement-pagetext-overlay {
	position: absolute;
	right: -2px;
    top: 0;
    width: 20%;
    height: 100%;
	/* get this to work: http://www.colorzilla.com/gradient-editor/ */
	background: -moz-linear-gradient(left, rgba(245,245,245,0) 0%, rgba(245,245,245,1) 100%) !important;  /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(245,245,245,0)), color-stop(100%,rgba(245,245,245,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ) !important; /* IE6-9 */
}

.mapchoices ul {
  background-color: rgba(100, 100, 100, .15);
  margin-bottom: 0;
  padding: 11px 0;
  text-align: center;
} 
.mapchoices li {
  padding: 0 25px;
}

#storytree hr {
	margin: 0;
}
.tree-header {
	text-align:right;
}

.tree-header > .input-group {
	max-width:350px;
	display:inline-table;
	margin-right:20px;
}
.tree-header  .modal-title {
	vertical-align:middle;
	display:inline-block;
	float:left;
}
/* ------------ States ------------ */
.is-hidden {
    display:none;
}
.is-editable {
}
.is-editable:hover:not(:focus) {
background-color: #d9edf7; /*bg-info*/
}
.is-a-disabled {
	color: Gray;
}
.is-highlighted {
	background-color: Yellow;
}
